body {
  background-color: #EAEAEA;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #EAEAEA;
  padding: 0;
  margin: 0;
  max-width: 1920px;
  color: #767676;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
}

.container a {
  color: #247FB9;
}


form {
  background-color: #FFF;
  border-radius: 0.2rem;
}

.btn.response-option {
  font-size: 4rem;
}

#poll {
  background-color: #FFF;
  border-radius: 0.2rem;
}

.selected {
  background-color: #f44336;
}

.selected:hover {
  background-color: #f44336;
}

.close.light {
  color: #fff;
  opacity: .8;
  text-shadow: none;
}

.close.light:hover {
  color: #fff;
  opacity: 1;
  text-shadow: none;
}


.btn-inline-block {
  display: inline-block;
  width: 100%;
}

#save.btn {
  margin: 15px 0;
}

h1#prompt {
  font-size: 4rem;
}

button#submit {
  font-size: 4rem;
}

.prompt-edit {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.button-outline {
  border-radius: .3rem;
  display: inline-flex;
  background-color: #007bff;
  border-color: #007bff;
  padding: .5rem 1rem;
  width: 100%;
}

.edit {

  background-color:transparent;
  font-size: 1.25rem;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  color: #fff;
  margin-right: 1rem;
  padding-left: 2rem;

}

button.value {
  margin-right: 15px;
  width: 2rem;
}

button.submit {
  margin-left: 15px;
}

ol.responses {
  padding: 0;
}

ul.responses {
  padding: 0;
  list-style-type: none;
}

ul.inputs {
  padding: 0;
  list-style-type: none;
}

.li-response {
  margin: 15px 0;
}

/*https://codepen.io/fox_hover/pen/bqZxLa?editors=0100#0*/
.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 20px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
  
  &:before {
    content: "\f054";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba($overlay-color,0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }
  
   &:hover {
    text-indent: 30px;
    
    &:before {
      transform: scale(1,1);
      text-indent: 0;
    }
  }
}


/*https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}