{% extends 'base.html' %}

{% block title %}{{ poll.title }}{% endblock %}

{% block content %}
<h1 class="text-center">{{ poll.prompt }}</h1>
<form name="poll_responses" id="poll_responses" action="/{{ poll.short_code }}" method="POST">
    

      {% for response in poll.responses %}
          <button type="button" class="responseOption btn btn-primary btn-lg btn-block" id="responseOption{{ response.response_id }}" name="responseOption{{ response.response_id }}" value="{{ response.text }}">{{ response.order }}. {{ response.text }}</button><br>

      {% endfor %}
      <input type="hidden" id="multi_select" name="multi_select" value="{{ poll.poll_type.multi_select }}">
      <input type="hidden" id="poll" name="poll" value="{{ poll.short_code }}.json">
      <input type="submit" value="Submit" class="btn btn-secondary d-flex justify-content-center">

</form>

<p>Text {{ poll.short_code}} to respond via SMS.</p>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/js/addTally.js"></script>
<script type="text/javascript">

  let multiSelect = $('#multi_select').val();

  if (multiSelect === 'True') {
    $('.responseOption').on('click', changeTally);
  } else {
    $('.responseOption').on('click', selectTally);
  }

  $("#poll_responses").on("submit", submitForm);

</script>
{% endblock %}