{% extends 'base.html' %}

{% block title %}Add Poll{% endblock %}

{% block content %}
<h1>Add Poll</h1>

<form action="/add-poll" method="POST">
    Title: <input type="text" name="title" required><br>
    Prompt: <input type="text" name="prompt" required><br>
    Poll Type:
    <select name="poll_type" id="poll_type"> 
      <option value="1">Multiple Choice</option>
      <option value="2">Select All</option>
      <option value="3">Open-Ended</option>
    </select><br>
    Show Results: 
        <input type="radio" name="is_results_visible" value="True" checked> Yes
        <input type="radio" name="is_results_visible" value="False"> No<br>
    {% if current_user.is_anonymous %}
    Email: <input type="text" name="email" required><br>
    {% endif %}
    <!-- TODO: for multiple choice and select-all polls: Need js to add responses -->
    <div id="response_options" class="">
    <label>Response Options:</label><br>
        <textarea name="responses" required></textarea><br>
    </div>
    <!-- TODO: for open-ended polls: Add js logic for is_unique_responses, is_moderated response_max -->
    <!-- TODO: Implement tally max -->
    <!-- TODO: Implement poll scheduling with open_at and close_at -->
    <input type="submit" value="Submit">
    
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  "use strict";
  let poll_type

  $('#poll_type').on('change', function() {
    poll_type = parseInt($('#poll_type option:selected').val());
    console.log(poll_type);

    if (poll_type === 3) {
      $('#response_options').addClass('hidden');
    } else {
      $('#response_options').removeClass('hidden');
    }
  });

</script>
{% endblock %}