{% extends 'base.html' %}

{% block title %}{{ poll.title }}{% endblock %}

{% block content %}
<h1>{{ poll.prompt }}</h1>
<form name="poll_responses" action="/{{ poll.short_code }}" method="POST">
    
    {% for response in poll.responses %}
        <button type="button" class="responseOption" id="responseOption{{ response.response_id }}" name={{ response.response_id }} value="{{ response.response_id }}">{{ response.text }}</button><br>

    {% endfor %}
    <input type="hidden" id="tallys" name="tallys" value="{}">
    <input type="submit" value="submit">
</form>  

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  "use strict";

  let tallys = {};

  function addTally(evt) {
  // use for multiple tallys per button button 
    let button = $('#' + evt.target.id);
    console.log(button);
    let response_id = button.val();

    if (tallys[response_id]) {
        tallys[response_id] += 1;
      }  else {
        tallys[response_id] = 1;
      }

    $('#tallys').attr("value", JSON.stringify(tallys));
  }

  function changeTally(evt) {
  // use for select-all polls  
    let button = $('#' + evt.target.id);
    console.log(button);
    let response_id = button.val();

    if (button.hasClass('selected')) {
    // decrement tally
      tallys[response_id] -= 1;
      button.removeClass('selected');
    }  else {
      if (tallys[response_id]) {
        tallys[response_id] += 1;
      }  else {
        tallys[response_id] = 1;
      }
      button.addClass('selected');
    }

    console.log(tallys);
    console.log(JSON.stringify(tallys));
    $('#tallys').attr("value", JSON.stringify(tallys));
  }

  function selectTally(evt) {
  // use for multiple choice polls  
    let button = $('#' + evt.target.id);
    console.log(button);
    let response_id = button.val();

    if (button.hasClass('selected')) {
    // decrement tally
      tallys[response_id] -= 1;
      button.removeClass('selected');
    
    }  else {
      
      if (tallys[response_id]) {
        tallys[response_id] += 1;
      }  else {
        tallys[response_id] = 1;
      }

      let selected_button = $('.selected');
      console.log(selected_button);

      if (selected_button.length !== 0) {
        let sid = selected_button.val();
        tallys[sid] -= 1;
        selected_button.removeClass('selected');
      }

      button.addClass('selected');
    }

    console.log(tallys);
    $('#tallys').attr("value", JSON.stringify(tallys));
  }

  {% if poll.poll_type.multi_select %}
  $('.responseOption').on('click', changeTally);
  {% else %}
  $('.responseOption').on('click', selectTally);
  {% endif %}

</script>
{% endblock %}