{% extends 'base.html' %}

{% block title %}{{ poll.title }}{% endblock %}

{% block content %}
<h1>{{ poll.prompt }}</h1>
<form name="poll_responses" action="/{{ poll.short_code }}" method="POST">
    
    {% for response in poll.responses %}
        {# TODO: Select by Response.text #}
        <button type="button" class="responseOption" id="responseOption{{ response.response_id }}" name={{ response.response_id }} value="{{ response.response_id }}">{{ response.text }}</button><br>

    {% endfor %}
    <input type="hidden" id="tallys" name="tallys" value="{}">
    <input type="submit" value="submit">
</form>  

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/addTally.js"></script>
<script type="text/javascript">


  // store jinja variable outside js in html
  // {% if poll.poll_type.multi_select %}
  $('.responseOption').on('click', changeTally);
  // {% else %}
  // $('.responseOption').on('click', selectTally);
  // {% endif %}

</script>
{% endblock %}