{% extends 'base.html' %}

{% block title %}Quippoll{% endblock %}

{% block content %}
<div class='row' id="banner">
  <div class="col-lg-4"></div>
  <div class="col-lg-6 col-xs-12 d-flex justify-content-end"> 
    <div id="banner-text" class="align-self-center">
      <div class="display-4 text-right" id="tagline">
        Create, View, Edit and Delete Live Polls.
      </div> 
      <br>
      <div class="d-flex justify-content-end">
        <button class="btn btn-lg btn-success" onclick="window.location.href='/add-poll'">Add Poll</button>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>

</div>

{% endblock %}