{% extends 'base.html' %}

{% block title %}Quippoll{% endblock %}

{% block content %}
<div class='row' id="banner">
    <div class="col-12 d-flex justify-content-end"> 
      <div id="banner-text">
        <div class="display-4 text-right" id="tagline">
          Create, View, Edit and<br>Delete Live Polls.
        </div> 
        <br>
        <div class="d-flex justify-content-end">
          <button class="btn btn-lg btn-success" onclick="window.location.href='/add-poll'">Add Poll</button>
        </div>
      </div>
    </div>

</div>

{% endblock %}