{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<h1>Poll Settings</h1>


  <div>Title: <input type="text" id="title" class="input" value="{{ poll.title }}"></div>

  <div>Short Code: <input type="text" id="short-code" class="input" value="{{ poll.short_code }}"></div>

  <div>Show Results: <label class="switch"><input type="checkbox" id="results" class="input" checked><span class="slider round"></span></label></div>

  <div>Poll Live: <label class="switch"><input type="checkbox" id="open" class="input" checked><span class="slider round"></span></label></div>

  <div id="geolocation"><button id="set-location">Set Poll Location</button></div>
  <div>Latitude: <input type="text" id="lat" value="" readonly></div>
  <div>Longitude: <input type="text" id="long" value="" readonly></div>




<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
let lat = $("#lat");
let lng = $("#long");

function getLocation(evt) {
    evt.preventDefault();
    if (navigator.geolocation) {
        console.log("Finding location");
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        $('#geolocation').append("Geolocation is not supported by this browser.");
    }
}
function showPosition(position) {
    console.log('Setting location');
    lat.val(position.coords.latitude);
    lng.val(position.coords.longitude); 
}

$('#set-location').on('click', getLocation);

$('.input').on('change', function(evt) {
  let selector = $('#' + evt.target.id);
  let key = evt.target.id;
  let value = selector.val();
  let data = {};
  data[key] = value;
  let shortCode = $('#short-code').val();
  let route = window.location.href;

  console.log(data);

  $.post(route, data, function() {selector.after("Saved");});
});


</script>

{% endblock %}