{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<h1>Poll Settings</h1>


  <div>Title: <input type="text" id="title" class="input" value="{{ poll.title }}"></div>

  <div>Short Code: <input type="text" id="short_code" class="input" value="{{ poll.short_code }}"></div>

<!--   <div>Show Results: <label class="switch"><input type="checkbox" id="is_results_visible" class="input" checked><span class="slider round"></span></label></div>

  <div>Poll Live: <label class="switch"><input type="checkbox" id="is_open" class="input" checked><span class="slider round"></span></label></div> -->

  <div id="geolocation"><button id="set-location">Set Poll Location</button></div>
  <div>Latitude: <input type="text" id="latitude" value="" ></div>
  <div>Longitude: <input type="text" id="longitude" value="" ></div>




<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>


function getLocation(evt) {
    evt.preventDefault();
    if (navigator.geolocation) {
        console.log("Finding location");
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        $('#geolocation').append("Geolocation is not supported by this browser.");
    }
}
function showPosition(position) {
    let lat = $("#latitude");
    let lng = $("#longitude");
    console.log('Setting location');
    lat.attr('value', position.coords.latitude);
    lng.attr('value', position.coords.longitude); 

    data = {'latitude': position.coords.latitude,
            'longitude': position.coords.longitude};
    let route = window.location.href;
    $.post(route, data, function(result) {$('#geolocation').after(result);});
}

function sendJson(evt) {
  let selector = $('#' + evt.target.id);
  let key = evt.target.id;
  let value = selector.val();
  let data = {};
  data[key] = value;
  let route = window.location.href;

  console.log(data);

  $.post(route, data, function() {selector.after("Saved");});
}

$('#set-location').on('click', getLocation);

$('input').on('change', sendJson);


</script>

{% endblock %}