{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3"></div>

  <div class="col-lg-6 col-xs-12 ml-3 mr-3">

	<h1 class="text-center">{{ current_user.fname }} {{ current_user.lname }}</h1>

	Email: {{ current_user.email }}

	{% if current_user.admin_polls %}
	  <h3>Polls</h3>
	  <ul>
	  {% for poll in current_user.admin_polls %}
	    <li><a href="/{{ poll.short_code }}">{{ poll.title }}</a> 
	        <form action="/polls/{{poll.poll_id}}/delete" method="POST">
          <button class="delete-button" type="submit">Delete</button>
          </form>
	        <button type="submit" onClick="window.location.href='/polls/{{poll.poll_id}}/settings'" >Settings</button>
	    </li>
	  {% endfor %}
	  </ul>
  </div>

  <div class="col-lg-3"></div>
</div>
{% endif %}
{% endblock %}